label{
    display: block;
}
input[type="text"], input[type="number"], input[type="date"], input[type="password"] {
    display: block;
    width:100%;
    margin-bottom: 10px;
}
form{
    width:40%;
}
#error_msg{
	color: red;
    font-size: larger;
    float:right;
}
